

@*Legacy Modal*@
@*<div id="dvOverlay" style="display:none; position: fixed; left:0px; right:0px; top:0px; bottom:0px; background-color: #000; opacity: .5; z-index:5">

</div>

<div id="dvModal" style="display: none; position: fixed; width: 600px; height: 600px; margin: auto; left: 0px; right: 0px; top: 0px; bottom: 0px; background: #ffff; z-index: 6">
    <input type="button" value="Close" onclick="HideModal()" />
</div>*@




@*Dynamic Modal*@
<div id="dvModal" style="display:none">
    @*<input type="button" onclick="HideModal()" />*@


</div>

